body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}
.container {
    background-color: rgb(222, 240, 255);
    border: 5px solid #2c3e50;
    border-radius: 20px;
    width: 100%;
    max-width: 750px;
    padding: 20px;
    text-align: center;
}
h1 {
    padding: 30px;
    background-color: rgb(67, 131, 190);
    margin:0;
    color: white;
}
h3{
    margin:0;
    text-decoration: underline;
    margin-bottom: 20px;
    
}
.name{
    font-weight: bold;
    font-size: 18px;
    color: rgb(14, 26, 129);
}
.profile-image {
    width: 150px;          
    height: 150px;  
    border-radius: 50%;
    object-fit: fill;
}
.info-section {
    display: flex;           
    gap: 20px;               
    max-width: 800px;        
    margin: 0 auto;          
}
.education, .hobbies {
    text-align: left;
    padding-left: 20px;
    padding: 20px;             
    border-radius: 10px;       
    flex: 1;                   
}